*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap: calc(var(--index) * 10) 
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

body {
    background-image: url(../img/bg.jpg);
    background-size: 75px;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: outfit-c;
}

.container {
    padding: 0 7vw;
}

// // // // // // //
.hero {
    &__img {
        width: calc(var(--index) * 35);
        position: absolute;
        left: 37vw;
        top: 9vh;
    }
}

.main {
    &__header {
        height: 100vh;
    }
    &__title {
        font-size: calc(var(--index) * 8);
        position: absolute;
        width: min-content;
        bottom: 12vh;
        line-height: .9;
    }
}


.gallery {
    display: flex;
    padding: calc(var(--index)* 8) 0;

    & > * {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__left {
        margin-top: calc(var(--gallery-gap) * 1.75);
    }

    &__right {
        .gallery__item {
            margin: 0;
            margin-top: calc(var(--gallery-gap));
        }
    }

    &__item {
        max-width: calc(var(--index) * 21);
        margin-bottom: var(--gallery-gap);
        max-height: 180vh;
        border-radius: 8px;
    }

    &__textBlock {
        color: var(--color-text);
        position: relative;
    }
    &__title {
        font-size: 2.5rem;
        line-height: 2.4rem;
        color: var(--color-header);
    }
    &__text {
        line-height: 1.75;
        margin-top: 15px;
    }
}